* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

.social{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none
}

/* Celulares */


@media(min-width: 500px) and (max-width: 768px){
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .navbar {
    background-color: gray;
    margin-left: 10px
  }
  
  .menu {
    display:none;
  }
  
  .hamburger {
    display: flex;
    justify-content: flex-end;
    color: white;
  }
  
  .product {
    border: gray;
    border-width: .5px;
    border-color: gray;
    text-align: center;
  }

  .social{
    display:flex;
    justify-content: space-evenly;
    
  }

  .social_icon{
    list-style: none;
  }
}

/* Tablets */

@media (min-width: 769px) and (max-width: 1199px){
  header{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  nav {
    background-color: gray;
    margin-left: 10px
  }
  
  .menu {
    display:none;
  }
  
  .hamburger {
    display: flex;
    justify-content: flex-end;
    color: white;
  }
  
  .product {
    border: solid;
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    text-align: center;
    margin-top:.2em;
    margin-left: 3em;
    margin-right: 3em;
    padding-left: .5em;
  }
  
  p{
    text-align: left;
  }
  
  .social{
    display:flex;
    justify-content: space-evenly;
    
  }
  .social_icon{
    list-style: none;
  }
}

/* Computadoras */

@media(min-width: 1200px){
  header{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  nav {
    background-color: gray;
    margin-left: 10px;
  }
  
  .hamburger{
    display: none;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    color: white;
    list-style-type: none;
    padding: 1em .5em;
  }

 
  .product {

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 20px;
    text-align: center;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
  }

  p{
    text-align: left;
  }

  li{
    padding-right: 30px;
  }
  
  .social{
    border-top: 1px solid gray;
    padding-top: 10px;
    justify-content: space-around;
  }

  
  
 

}